.menu-btn{
    
    position: absolute;
    z-index: 1;
    right:1rem;
    top: 01rem;
    
    width: 28px;
    line-height: 10px;
    cursor: pointer;
    @include transition;


 &_burger{
    position: absolute;
    right:0;
    top: 0.5rem ;
    width: 28px;
    height: 4px;
    background : rgb(5, 122, 20) ;
    @include transition;

    &::before{  /*pseudo elements are used to modify a part of an element*/
        content :'';
        position:absolute;
        right: 0;
        top : -9px;
        width : 28px;
        height: 4px;
        background-color: rgb(59, 146, 51);
        @include transition;
    }

    &::after{
        content:'';
        position: absolute;
        left: 0;
        top: -18px;
        width: 28px;
        height: 4px;
        background-color: rgb(60, 179, 80);
        @include transition;
    }

    &.open{
        transform: rotate(360deg);
        background: transparent;
        
        &::before{
            transform: rotate(45deg) translate(5px,8px);
            background-color: rgb(0, 0, 0);
        }

        &::after{
            background-color: rgb(0, 0, 0);
            transform: rotate(-45deg) translate(-15px,9px);
        }

        }
        }
    }
 
.nav{
    position:fixed;
    
    top:0;
    left:0;
    width:100%;
    height: auto;
    opacity:1;
    visibility: hidden;

    &.open{
        visibility: visible;
       
    }

    .menu-nav{
        display: flex;
        flex-flow: column wrap;
        align-items:center;
        justify-content: center;
        height:100vh;
        overflow: hidden;
        top:0;
        background: 
        linear-gradient(
            to bottom,
            rgba(rgb(255, 174, 0), 1.0),
            rgba(rgba(218, 255, 221, 0.993), 0.9)
        );
        list-style-type: none;
        color:black;
        padding-right: 10px;
        transform : translateX(-100%);
        @include transition;

        &.open {
            transform: translateX(0);
        }
        &_item{
            transform: translateX(100vw); //hides link away
            @include transition;
            
        }
//hightlighting page currently on
        &.open {
            transform: translateX(0); //brings them back
        }

       

        &_items_active> a {  //element>element1 : selects all element1 where element is the parent
            color: rgb(255, 255, 255);
        
        }
    &-link{
        display: inline;
        font-size: 2rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-transform:uppercase;
        padding: 20px 0;
        text-shadow: 10;
        color:darkgreen;
        overflow: hidden;
        font-weight: 30;
       
        @include transition;
            &:hover{
                color:rgb(255, 255, 255);
    }
   
    }
   
}
}
li{
    margin:20px;
}

.mmulogo {
    display:flex;
    max-width: 40%;
    height:auto;
    
}

.mmusuperlogonav{
    display:flex;
    max-width: 50%;
    height:auto;
    transform: translate(100);
}
