@import "clubvari";
@import 'homeclub';
@import 'menuclub';

body{
    top:0;
    background-color: map-get($colour, colour1 );
    color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
    line-height: 100%;
    font-style: italic;
    overflow:hidden;
    height:100vh;
    
}



h1, h2, h3 {
    font-weight: 20px;
    text-align: center;
    size: 60px;
    color: rgb(255, 255, 255)
    
}

main{
    height:100%;
    width: 100%;

    i{
        color:rgb(254, 255, 255);
        

        &:hover{
            color: map-get($colour, colour3);
            @include transition;
        }
    }

    
        a{
        text-decoration: none;

            &:hover{
            color: map-get($colour, colour2 );
        }
    }

}

.social-icons{
    text-align: center;
}
footer{
    color: map-get($colour, colour3 );
    size: 20px;
    padding: 20px;
    text-decoration: underline;
    text-align: center ;
    background-color: rgba(255, 255, 255, 0.158)
}

header{
    position: relative;
    z-index: 2 ;
    max-width: 50px;
    padding: 20px;
}